                                                    * {
                                                        box-sizing: border-box;
                                                        padding: 30;
                                                        margin: 25px;
                                                        display: inline-block;
                                                    }
                                                    
                                                    body {
                                                        background-color: white;
                                                        color: blue;
                                                    }
                                                    
                                                    header {
                                                        padding: 20px;
                                                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                                        background-color: aquamarine;
                                                        color: black;
                                                    }
                                                    
                                                    header h1 {
                                                        display: inline-block;
                                                        font-size: 50px;
                                                    }
                                                    
                                                    header h1 .Sami {
                                                        color: #d9dcd6;
                                                    }
                                                    
                                                    .portfolio ul {
                                                        display: block;
                                                    }